/* Moderní box model - nastavená šířka boxu je včetně paddingu a borderu */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 
------------------------------------------------
To nahoře je černá magie, na to raději nešahej.
Ale sem dolů už si můžeš psát, co budeš chtít.
------------------------------------------------
*/

h1 {
  color: #6987C9;
  background-color: #1f1f1f;
  text-align: center;
  font-style: sans-serif;
  font-size: 55px;
}

h2 {
  color: #6987C9;
  font-size: 38px;
  font-style: sans-serif;
}

h3 {
  font-size: 22px;
  font-style: sans-serif;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: rgb(112, 88, 61);
  font-style: sans-serif;
}

section {
  background-color: beige;
}

.a {
  color: #6987C9;
}
